<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2> Wedding Dress </h2>

    <% dressesList.forEach( (item) =>{ %>

    <h4><%= item.nameDress %></h4>
    <p> <%= item.style %> </p>
    <p> <%= item.designer %> </p>
    <p> <%= item.yearCollection %> </p>
    <img src="<%= item.image %>" alt="img">
    <% }) %>
  </body>
</html>